XML Validación XSD/Validación 1/Ejercicio 6.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Nombre: Miguel Tejero Garcia-Abad
    Curso: DAW1
    Fecha: 16/04/2025
    Ejercicio: 6
    -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="tipoIniciales">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="iniciales" type="tipoIniciales"/>
              <xs:element name="edad" type="xs:integer"/>
              <xs:element name="iniciales-al-reves" type="tipoIniciales"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
