XML Validación XSD/Validación 1/Ejercicio 3.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Nombre: Miguel Tejero Garcia-Abad
    Curso: DAW1
    Fecha:15/04/2025
    Ejercicio: 3
    -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="gramosType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="heladoType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="chocolate" type="gramosType"/>
        <xs:element name="fresa" type="gramosType"/>
      </xs:choice>
      <xs:choice>
        <xs:element name="vainilla" type="gramosType"/>
        <xs:element name="turron" type="gramosType"/>
        <xs:element name="nata" type="gramosType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="fabricación" type="xs:date" use="required"/>
  </xs:complexType>

  <xs:element name="heladeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helado" type="heladoType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>